<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<%= @cart.id %>

<%= @cart.cart_flg %>

<%= @cart.customer_id %>

<%= @cart.cart_items.each do |cart_item| %>
	<%= cart_item.productproduct.cd_title %>
	<%= cart_item.productproduct.artist %>
	<!--<% product = Product.find(item.product_id_id) %>
	<%= product.cd_title %>
	<%= product.artist %>-->
<% end %>

<%= link_to "商品一覧ページへ戻る", products_path %>